<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">-->
		<!-- Stylesheets from your assets folder are included here -->
		<%- assets.css() %>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>

	<body>
		<!-- Nav -->
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a href="/" class="navbar-brand">Events Calendar</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="/">Home</a></li>
	            <li><a href="/about">About</a></li>
	            <li><a href="/event/calendar">Calendar</a></li>
	          </ul>
	          <form class="navbar-form navbar-right">
	            <div class="form-group">
	              <input type="text" class="form-control" placeholder="Email">
	            </div>
	            <div class="form-group">
	              <input type="password" class="form-control" placeholder="Password">
	            </div>
	            <button class="btn btn-success" type="submit">Sign in</button>
	          </form>
	        </div><!--/.navbar-collapse -->
	      </div>
	    </div>

		<div class="jumbotron">
		  <div class="container">
				<!-- Notifications can go here -->
		  </div>
		</div>

	    <!-- Content -->
		<div class="container">
		<%- body %>
		<%- assets.templateLibrary() %>	  	
		</div>

		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
		<%- assets.js() %>
	</body>
</html>
